
.root {
    -fx-font-family: 'Inter', 'Segoe UI', sans-serif;
    -fx-font-size: 12px;

    -bg-dark: #1a1a2a;
    -bg-panel: #222232;
    -bg-card: #555565;
    -bg-input: #2a2a3a;

    -text-light: #c2c2c2;
    -text-secondary: #b0b0c0;
    -text-muted: #707080;
}

.root {
    -fx-background-color: -bg-dark;
    -fx-dark-text-color: -text-primary;
    -fx-mid-text-color: -text-muted;
    -fx-light-text-color: skyblue;
}
Label{
    -fx-text-fill: -text-light;

}

Button{
    -fx-background-color:-bg-card;

}